<div class="row">
    <div class="col-md-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <button type="submit"
            class="btn btn-success mr-3" [disabled]="!recipeForm.valid" >Save</button>
            <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="email" 
              class="form-control" 
              formControlName="name"
              id="name" 
              >
              
            </div>
            <div class="form-group">
                <label for="imagepath">Image URL</label>
                <input type="email" 
                class="form-control" 
                id="imagepath" 
                formControlName="imagepath"
                #imagepath>
                
              </div>
              <div class="col-md-12">
                <img [src]="imagepath.value" class="img-fluid">
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea type="email" 
                class="form-control" 
                id="description" 
                formControlName="description"
                cols="6"
                ></textarea>
                
              </div>
              <div class="row" formArrayName="ingredients">
                <div class="col-md-12" *ngFor="let ingredientCtrl of controls; let i = index" 
                  [formGroupName]= "i">
                  <div class="row">
                    <div class="col-md-5" >
                        <div class="form-group">
                          <label for="ingredientName">Ingredient Name</label>
                          <input type="email" 
                          class="form-control" 
                          id="ingredientName"
                          formControlName='name'
                          >
                        </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="ingredientName">Ingredient Name</label>
                        <input type="email" 
                        class="form-control" 
                        id="ingredientName" 
                        formControlName='amount'
                        >
                      </div>
                  </div>
                  <div class="col-md-2">
                      <label for="CancelButton">Cancel</label>
                      <button type="button" class="btn btn-danger"
                       id="CancelButton" (click)="onDeleteIngredient(i)">X</button>
                  </div>
                  </div>
                   
                </div>
                     
                  
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add Ingredient</button>
                  </div>
              </div>
            </form>
    </div>
</div>
