<div *ngFor="let RecipeEl of recipes">
    <a href="#" class="list-group-item list-group-item-action
    flex-column align-items-start mt-3" (click) = "onSelected(RecipeEl)">
    <div class="d-flex w-100 justify-content-between">
        <div>
            <h5 class="mb-1">{{ RecipeEl.name }}</h5>
            <p class="mb-1">{{ RecipeEl.description }}</p>
        </div>
        <div>
            <img
                [src]="RecipeEl.imagepath"
                alt="" style="max-height:70px;">
        </div>


    </div>

</a>
</div>

